<a  class="categories-menu"
    data-toggle="collapse"
    data-target=".collapse.first"
    data-text="Collapse">
  Laura Cattabianchi
</a>
<div class="block collapse first">
    <div class="block__content">
    <%= render "pages/home" %>
  </div>
</div>
<div class="flex-article-list">
  <% @articles.each do |article| %>
    <%= link_to(article_path(article), html_options = {class: "article-link"} )do  %>
      <div class="article-btn <%#= article.category%>" style="background-image: url('<%= cl_image_path article.photo.key, height: 150, width: 150, crop: :fill %>')">
      </div>
    <% end %>
  <% end %>
</div>
