<div class="categories-menu">
  <div class="favicon-img">
    <%= link_to root_path do %>
      <%= image_tag "logopalomitas", alt: "Laura Cattabianchi", class: "navbar-roche" %>
      <p class="palomitas-name">palomitas</p>
    <% end %>
  </div>
  <div>|</div>
  <div class="current-category">
    nouveau
  </div>
</div>

<%= render "pages/adminbar" %>

<div class="flex-article-list admin">
  <h5 class="h5-with-margin">Ajouter un nouvel article</h5>
  <%= render "form" %>
</div>
