<% @articles.each do |article| %>
  <%= link_to article.subtitle, class: 'card_block', :target => "_blank" do %>
    <div class="d-block text-center">
      <div class="partenaire_card" style="background-image: url('<%= cl_image_path article.photo.key, height: 200, width: 200, crop: :pad, background: "white"; %>')"></div>
      <h5 class="text-dark"><%= article.title %></h5>
    </div>
  <% end %>
<% end %>
