<div class="bio-card">
  <%= image_tag "portrait", alt: "Portrait of Laura © Juan Jerez"%>
  <p class="legend">Portrait of Laura © Juan Jerez</p>
  <p>
    Laura grandit au bord du fleuve Adige en Italie. Après un Master en Science du spectacle et de la production multimédia, elle arrive en France pour poursuivre ses études en documentation et médiation. Elle intègre l’équipe de La Gaîté Lyrique en 2013 en tant que documentaliste et médiatrice multimédia où elle crée les ateliers “Appli’quons-nous !” qui imaginent des relations plus créatives aux écrans. Passionnée par les langues et les histoires, c’est par les biais d’une tablette que Laura rencontre Dulala. D’abord chargée de projet pour la création de l’application web “Les Kamishibaïs plurilingues”, elle intègre ensuite l’équipe en tant que formatrice.
  </p>
</div>
