<% if user_signed_in? %>
  <% if current_user.admin %>
    <div class="admin-bar">
      <%= link_to "new", new_article_path, class: "new-article" %>
      <%= link_to "tutti", articles_path, class: "all-articles" %>
      <%= link_to "log out", destroy_user_session_path, method: :delete, class: "log-out" %>
    </div>
  <% end %>
<% end %>
