<div class="categories-menu">
  <div class="favicon-img">
    <%= link_to root_path do %>
      <%= image_tag "logopalomitas", alt: "Laura Cattabianchi", class: "navbar-roche" %>
      <p class="palomitas-name">palomitas</p>
    <% end %>
  </div>
  <div>|</div>
  <div class="current-category">
    <% if @article.present? %>
      <%= link_to "#{@article.category}s", category_path(category: @article.category) %>
    <% else %>
      <%= link_to "#{params[:category]}s", category_path(category: params[:category]) %>
    <% end %>
  </div>
</div>
