<div class="categories-menu">
  <div class="favicon-img">
    <%= link_to root_path do %>
      <%= image_tag "logopalomitas", alt: "Laura Cattabianchi", class: "navbar-roche" %>
      <p class="palomitas-name">palomitas</p>
    <% end %>
  </div>
  <div>|</div>
  <div class="current-category">
    contact
  </div>
</div>

<%= render "pages/adminbar" %>

<div class="contacts">
  <p>
Après avoir étudié l’histoire du cinéma en Italie, mon pays natal, je suis arrivée en France pour poursuivre mes études en documentation et médiation.
En 2013 j’ai intégré l’équipe de la Gaîté Lyrique, lieu dédié aux cultures numériques, en tant que documentaliste et médiatrice multimédia. C’est à la Gaîté que j’ai découvert l’offre d’applications sur tablettes à destination des enfants et des adultes dont je suis de près l’évolution. Afin de mettre en valeur cette création numérique j’ai créé les ateliers “Appli’quons-nous !” qui imaginent une relation plus créative et dynamique aux écrans et mettent en valeur la complémentarité des média.
Je partage cette expérience avec les étudiants de l’Université Sorbonne Nouvelle à Paris et de Rennes 2 et je développe des formations autour de la médiation sur tablette et l’éducation aux média en lien avec plusieurs structures telle que La Souris Grise, la Bibliothèque Nationale de France, Cinémas 93. Intéressée par les langues et la transmission, je collabore avec l'association DULALA en menant des formations autour de l’éveil aux langues.
Passionnée par les histoires, les sons et le numérique, je réalise des projets personnels qui croisent les disciplines artistiques et les regards.
  </p>
</div>
