<div class="categories-menu">
  <div class="favicon-img">
    <%= link_to "#" do %>
      <%= image_tag "roche2", alt: "Laura Cattabianchi", class: "navbar-roche" %>
    <% end %>
  </div>
  <div class="link-to-collapse">
    <a href="#">
        palomitas
    </a>
  </div>
  <div></div>
  <div class="current-category">

  </div>
</div>

<%= render "adminbar" %>

<%= render "home" %>
