<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <%= notice %>
    </div>
  <!-- <div>
      <a href="#" data-dismiss="alert">×</a>
        <%#= value %>
    </div> -->
  <% end %>
</div>
