.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .home-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .btn-with-rock {
      animation: 2s cubic-bezier(.31,1.59,.49,1) animateButtons;
      margin: -5px;
      &:hover {
        img {
          opacity: 0.8;
        }
      }
      img {
        width: 240px;
        opacity: 0.7;
      }

      p {
        position: absolute;
        margin: 0;
        font-size: 1.5rem;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: 1s cubic-bezier(.63,.3,.19,.97) animateChangingColor;
        color: white;
      }
    }
  }
}

.z-1 {
  z-index: 20;
}
.z-2 {
  z-index: 19;
}
.z-3 {
  z-index: 18;
}
.z-4 {
  z-index: 17;
}
.z-5 {
  z-index: 16;
}

#new_user {
  width: 20vw;
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes animateButtons {
  0% {
    margin: -40px;
  }
  100% {
    margin: -5px;
  }
}

@keyframes animateChangingColor {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@media (min-width: 1200px) {

.home-container .home-btns .btn-with-rock img {
  width: 450px;
  transform: rotate(3deg);
}

.home-container .home-btns {
  flex-direction: row;
  flex-wrap: wrap;
}

}
