
/* Feuille de style intégrée #5 | http://localhost:3000/category?category=formation */

.contact-bar-fixed {
  position: fixed;
  bottom: 0;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 0 10px;
    p {
      position: absolute;
      color: white;
      margin: 0;
    }
    img {
      margin: 0 auto;
      height: 30px;
      opacity: 0.6;
    }
  }
}


.categories-menu {
  cursor: pointer;
  width: 100%;
  /*! text-align: center; */
  display: flex;
  justify-content: center;
  // box-shadow: 0 0 10px rgba(50,50, 50, 0.2);
  // height: 30px;
  align-items: center;
  position: fixed;
  z-index: 10;
  padding: 10px 0;
  color: black;
  background: white;
  top: 0;
  font-size: 18px;


  .link-to-collapse, .current-category {
    margin: 0 10px;
    a {
      color: black;
    }
  }
  .favicon-img {
    margin: 0;
    a {
      color:black;
      display: flex;
      justify-content: center;
      align-items: center;
      .palomitas-name {
        margin: 0 8px;
      }
    }
    .navbar-roche {
      height: 20px;
      padding: 0 10px 0 0;
    }
  }
  &:hover {
    text-decoration: none;
  }
  .backlink {
    margin: 0 10px 0 -26px;
    color: black;
  }
}
.collapse.hide {
  animation: 1s ease hidding !important;
}
.collapse {
  display: flex;
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: -1;
}
.collapse.show {
  position: absolute;
  top: 0px;
  z-index: 1;
  animation: 1s ease gradientBg;
  opacity: 1;
  background: white;
}


.admin-bar {
  position: fixed;
  top: 40px;
  width: 100vw;
  text-align: center;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  a {
    padding: 5px 10px;
    margin: 0 10px;
    color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
  }
  .new-article {
    background: #4cbcd7;
  }

  .all-articles {
    background: #4cab72;
  }

  .log-out {
    background: #ff4c4c;
  }
}

@keyframes hidding {
  0% {
    opacity: 1;
    background: white;
    display: flex;
  }
  100% {
    opacity: 0;
    background: transparent;
    z-index: -1;
    display: none;
  }
}
@keyframes gradientBg {
  0% {
    opacity: 0;
    height: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: white;
  }
}
