.categories-menu {
  cursor: pointer;
  width: 100%;
  /*! text-align: center; */
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(50,50, 50, 0.2);
  height: 30px;
  align-items: center;
  position: sticky;
  z-index: 10;
}
.block.collapse.first.show {
  position: absolute;
  top: 0px;
  background: white;
  z-index: 0;
}

