.categories-menu {
  cursor: pointer;
  width: 100%;
  /*! text-align: center; */
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(50,50, 50, 0.2);
  height: 30px;
  align-items: center;
  position: fixed;
  z-index: 10;
  margin: 0;
  color: black;
  background: white;
  top: 0;
  &:hover {
    text-decoration: none;
  }
}
.block.collapse.first:not(.show) {
  display: none;
  position: absolute;
  top: 0px;
}
.block.collapse.first.show {
  position: absolute;
  top: 0px;
  z-index: 0;
  animation: 1s ease gradientBg;
  opacity: 1;
  background: white;
}

@keyframes gradientBg {
  0% {
    opacity: 0;
    height: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
    background: white;
  }
}
