// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.apps {
  border: solid 7px #4cbcd7;
}
.actu {
  border: solid 7px #4cab72;
}
.atelier {
  border: solid 7px #594ca3;
}
.formation {
  border: solid 7px #ffa64c;
}
.cards-set {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 220px 0 50px 0;
}
a {
  text-decoration: none !important;
}

.article_card {
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 5px;
  // box-shadow: 0 0 10px rgba(10, 10, 10, 0.3);
  margin: 20px 50px 20px 20px;
  padding: 10px;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .title, .subtitle {
    display: none;
  }
  &:hover {
    opacity: 0.5;
    .title, .subtitle {
      display: block;
      font-weight: bold;
    }
  }
}


.partenaire_img {
  display: flex;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.2);
  text-align: center;
  align-items: center;
  justify-content: center;
}


.card_block {
  width: 240px;
  height: 270px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  // box-shadow: 0 0 10px rgba(10, 10, 10, 0.1);
  img {
    width: 90%;
  }
}
.main-content {
  margin-top: 230px;
}


.article-show {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  margin-bottom: 50px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.3);
  border-radius: 5px;
  width: 100%;
  img {
    margin: 20px 0 10px 0;
    width: 90%;
  }
  .attachment__caption {
    display: none;
  }
}
.posted-date {
  font-size: 10px;
}

.contact-link-show {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.action-block {
  margin-top: 5px;
  position: absolute;
  top: -15px;
  right: -40px;
}

.action-butn {
  padding: 5px;
  margin: 5px;
}

form {
  width: 100%;
  display: block;
}

trix-editor {
  min-height: 200px;
  border: #dfdfdf 2px solid;
}

// contact simple form !
#new_contact {
  width: 80%;
}

// bio page
.bio-card {
  width: 100vh;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.3);
  padding: 20px;
  border-radius: 10px;
  height: max-content;
  display: block;
  text-align: center;
  img {
    width: 170px;
  }
}
.legend {
  font-style: italic;
  font-size: 8px;
  margin-bottom: 30px;
}

.image-alone {
  width: 100vh;
  img {
    border-radius: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .partenaire_img {
    height: 160px;
    width: 160px;
  }

  .card_block {
    width: 170px;
    height: 200px;
    padding: 0px;
    margin: 0px 3px 20px 3px;
  }

}



@media screen and (max-width: 500px) {

  .card_block {
    width: 150px;
    margin: 0px 3px 40px 3px;
    h5 {
      font-size: 16px;
    }
  }

  .article_card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 20px;
    .title {
      display: flex;
      font-size: 20px;
      align-items: center;
    }
    .subtitle {
      display: none;
    }
  }

  .main-content {
    position: relative;
    margin-top: 0;
  }
  .cards-set {
    position: absolute;
    top: 160px;
    right: 5px;
  }
  .white-gradient-top {
    position: fixed;
    z-index: 1;
    width: 240px;
    height: 175px;
    background: linear-gradient(white 75%, transparent);
    right: 0;
  }

  .image-alone {
    img {
      width: 100%;
      margin-top: 35px;
    }
  }

  // show view

  .article-show {
    text-align: center;
    position: relative;
    right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    h1 {
      font-size: 25px;
    }
    h3 {
      font-size: 15px;
    }
    p {
      // display: none;
    }
    .trix-content {
      font-size: 14px;
    }
  }


  // mail form on phone

  h3 {
    font-size: 20px;
  }
  .form-group label {
    font-size: 12px;
  }
  .form-group input {
    font-size: 12px;
  }
  label {
    margin-bottom: 0;
  }



  .bio-card {
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    right: 10px;

  img {
    width: 150px;
  }
}



}
