body {
  font-family: 'Montserrat', sans-serif;
}

.nav-bar-left {
  margin: 30px 50px;
  h1, h4 {
    color: black;
  }
  img {
    width: 155px;
    opacity: 0.7;
    z-index: 0;
    transform: rotate(-3deg);
    transition: all 0.5s ease;
  }
  a:hover {
    h5 {
      color: white;
      font-size: 30px;
      transform: rotate(3deg);
      transition: all 0.5s ease;
      left: 100px;
    }
    img {
      opacity: 1;
      width: 300px;
      transform: rotate(3deg);
      transition: all 0.5s ease;
    }
  }
}

.button {
  position: relative;
  padding: 0px 0;
  margin: -9px;
  h5 {
    position: absolute;
    top: 17px;
    left: 26px;
    color: white;
    z-index: 1;
    transition: all 0.5s ease;
  }
}

#but1 {
  margin-top: 60px;
}

#but7 {
  margin-top: 60px;
}

.blacktext {
  h5 {
    color: black;
  }
  &:hover {
    a {
      h5 {
        color: black;
      }
    }
  }
}

.menu {
  margin-top: 40px;
}
.darklogout {
  margin: 5px;
  font-size: 12px;
  display: block;
  width: 90px;
  a {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
}

.options {
  display: grid;
  justify-content: end;
  height: max-content;
}

@media screen and (max-width: 1024px) {
  .nav-bar-left {
    margin: 30px;
    .logo {
      width: main-content;
      h4 {
      font-size: 19px;
      }
    }
    h5 {
      font-size: 14px;
    }
    .button h5 {
      left: 20px;
      top: 13px;
    }
    img {
      width: 120px;
    }
    a:hover {
      img {
        width: 150px;
      }
      h5 {
        font-size: 19px;
        left: 20px;
      }
    }
    .logo {
      width: 200px;
    }
  }
  .options {
    display: grid;
    justify-content: end;
    height: max-content;
    a {
      font-size: 10px;
    }
  }
}
