// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-card {
  flex-shrink: 0;
  margin-top: 150px;
}

@media screen and (max-width: 1248px ){
  .home-card {
    margin-top: 0;
    width: 90vh;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-card {
    img {
      width: 50%;
      margin: 0 60px;
    }
  }
}

@media screen and (max-width: 800px) {
  .home-card {
    width: 100%;
    position: relative;
    margin-top: 0;
    img {
      transform: rotate(90deg);
      margin-left: 0;
      width: 235%;
      position: absolute;
      left: -180px;
      top: 225px;
    }
  }
}

@media screen and (max-width: 500px) {
  .home-card {
    width: 100%;
    position: relative;
    margin-top: 0;
    img {
      transform: rotate(90deg);
      margin-left: 0;
      width: 235%;
      position: absolute;
      left: -150px;
      top: 145px;
    }
  }
}
